// fonts
// $body-font-family: 'Spoqa Han Sans Neo', 'sans-serif';
$body-font-family: 'Noto Sans KR', sans-serif;
$body-font-family: 'Oswald', sans-serif;


// vuetify
$card-link-focus-opacity: 0;
$data-table-regular-row-height: 75px;
$data-table-row-group-children-td-height: 50px;
$data-table-regular-row-font-size: 20px;